<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExploraTech | Rover</title>
    <link rel="icon" href="/Image/Logo_ExploraTech/mars.png"> 
    <link rel="stylesheet" href="/styles/styles.css">
    <script defer="defer" src="/script/index.js"></script>
</head>


<body>
    <header>
        <!-- Logo do Explotec aqui -->
     
        <div class="ExploraTec"> 
            
            <a href="/index.html"> <img src="/Image/Logo_ExploraTech/LogoExploraTech01.png" class="ExploraTec_Logo"> </a>
        
        </div>
        
        <nav class="LucasRandom">
            <a href="/index.html">HOME</a>
            <a href="/Templates/sobre.html">SOBRE</a>
            <a href="/Templates/obras.html" class="Selecao_Button">OBRAS</a>
            <a href="/Templates/faq.html">FAQ</a>
        </nav>

        <!-- Função Tema Dark aqui -->

        <label class="funcao_modoDark">
            <input type="checkbox" onclick="LucasFuncao()">
            <span class="animacao_tema"></span>
        </label>

    </header>

    <section class="Sessao_Obra">
        
        <div class="imagem_obra">
            <img src="/Image/Obras/ObrasAgiota 01.gif" alt="Imagem do Perseverance Rover em Marte">
            <p><strong>🌍 Fonte: </strong> Imagem do Google</p>
        </div>
        
        <div class="detalhes_obra">
            <h1>Perseverance Rover: Explorando a História de Marte</h1>
            <h2>Museu ExploraTech e Casa Kennedy</h2>
            <p><strong>De 11 de Junho a 29 de Agosto de 2024</strong></p>
            <p class="descricao_obra">O Perseverance Rover é um veículo robótico da NASA enviado a Marte como parte da missão Mars 2020. Ele pousou no planeta vermelho em 18 de fevereiro de 2021, com o objetivo de buscar sinais de vida microbiana passada, estudar a geologia e o clima do planeta, e coletar amostras do solo e rochas para futuras missões que as trarão de volta à Terra. Equipado com instrumentos avançados, o Perseverance conta com câmeras de alta resolução, um braço robótico para análise de rochas e uma série de sensores.</p>
            <p class="descriptionEsquerda">Entre seus equipamentos de destaque estão o SHERLOC, que procura sinais de compostos orgânicos, e o SuperCam, que usa lasers para estudar a composição química das rochas. Ele também trouxe consigo um pequeno helicóptero chamado Ingenuity, que fez o primeiro voo motorizado em outro planeta, explorando Marte de cima. O Perseverance continua a explorar a Cratera Jezero, uma área que acredita-se ter abrigado um antigo lago, tornando-a um local promissor para encontrar sinais de vida passada.</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <p>© 2024 ExploraTech | Museu para todos os publicos.</p>
            <div class="social-links">
                <a href="https://x.com/?lang=pt-br" aria-label="">
                    <img src="/Image/Icones/TwitterBlack.png" alt="" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.instagram.com" aria-label="Instagram">
                    <img src="/Image/Icones/InstaBlack.png" alt="Instagram" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.facebook.com/?locale=pt_BR" aria-label="Facebook">
                    <img src="/Image/Icones/FaceBlack.png" alt="Facebook" style="width: 30px; height: 30px;">
                </a>
            </div>
    </footer>

</body>
</html>
