<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExploraTech | Inicio</title>
    <link rel="icon" href="/Image/Logo_ExploraTech/mars.png"> 
    <link rel="stylesheet" href="/styles/styles.css">
    <script defer="defer" src="/script/index.js"></script>
</head>


<body>

    <header class="header">

        <!-- Logo do Explotec aqui -->
     
        <div class="ExploraTec"> 
            
                <a href="/index.html"> <img src="/Image/Logo_ExploraTech/LogoExploraTech01.png" class="ExploraTec_Logo"> </a>
            
            </div>

        <nav class="LucasRandom">
            <a href="/index.html">HOME</a>
            <a href="/Templates/sobre.html" class="Selecao_Button">SOBRE</a>
            <a href="/Templates/obras.html">OBRAS</a>
            <a href="/Templates/faq.html">FAQ</a>
        </nav>

        <!-- Função Tema Dark aqui -->

        <label class="funcao_modoDark">
            <input type="checkbox" onclick="LucasFuncao()">
            <span class="animacao_tema"></span>
        </label>

        <!--
        <label class="switch">
            <input type="checkbox" onclick="LucasFuncao()" onclick="LucasFuncao_Obras()" >
            <span class="slider"></span>
          </label>
        <div class="group">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
            <input placeholder="Search" type="search" class="input">
          </div>
        -->

          
    </header>

<section class="sobre_nos"> 
    <div class="titulo_e_descricao">
        <h1>Sobre Nós</h1>
        <p>O Museu ExploraTech é parte da Universidade de São Paulo, dedicado à ciência e tecnologia com foco na exploração espacial. Construído entre 2030 e 2035, celebrou conquistas científicas significativas. Em 2040, tornou-se sede de exposições sobre a Primeira Viagem Tripulada a Marte, estabelecendo-se como um importante centro de divulgação científica.</p>
    </div>
    <div class="localizacao_museu">
        <h2>Nossa Localização</h2>
        <p><strong>Endereço:</strong> Rua Gumercindo Cofesa, 40, Itapetininga, SP.</p>
        <p><strong>Horário de Funcionamento:</strong> <p>De segunda a domingo, das 10:00 às 18:00</p></p>
        <img src="/Image/ImagensTestes/Quiosque Frigieri.png" alt="Mapa de Localização" class="Imagem_MapaMuseu">
    </div>
    <div class="titulo_galeria">
        <p> IMAGENS DO MUSEU </p>
    </div>

    <div class="galeria_top"> 
        <div class="imagens_museu">
          <img src="/Image/InteriorMuseu/InteriorMuseu (1).jpg" alt="">
        </div>
        <div class="imagens_museu">
          <img src="/Image/InteriorMuseu/InteriorMuseu (2).jpg" alt="">
        </div>
        <div class="imagens_museu">
          <img src="/Image/InteriorMuseu/InteriorMuseu (3).jpg" alt="">
        </div>
      </div>
</section>

<!-- Footer aqui -->

<footer class="footer">
    <div class="footer-content">
        <p>© 2024 ExploraTech | Museu para todos os publicos.</p>
        <div class="social-links">
            <a href="https://x.com/?lang=pt-br" aria-label="">
                <img src="/Image/Icones/TwitterBlack.png" alt="" style="width: 30px; height: 30px;">
            </a>
            <a href="https://www.instagram.com" aria-label="Instagram">
                <img src="/Image/Icones/InstaBlack.png" alt="Instagram" style="width: 30px; height: 30px;">
            </a>
            <a href="https://www.facebook.com/?locale=pt_BR" aria-label="Facebook">
                <img src="/Image/Icones/FaceBlack.png" alt="Facebook" style="width: 30px; height: 30px;">
            </a>
        </div>
</footer>

</body>

</html>
