body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.astro_boy {
    height: 130px;
    width: 130px;
    transform: translateY(10px);
    transform: translateX(10px);
}


.explora_sexy {
    font-size: 30px;
    
}



header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

section div img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

section div button {
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

section div button:hover {
    background-color: #555;
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 4px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 12px;
}



.notice {
    background-color: #ffeb3b;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 1rem;
}